.conteneur {
    display: flex;
    
    align-items: space-around;
    /* border: 1px solid black; */
    
}

/* .element {
    border: 1px solid black;
    padding: 2px;
    margin: auto;
} */

.element:nth-child(2){
   
    flex: 1;
}

.element:nth-child(3){
    order: 1;
}

.element:nth-child(5){
    order: 2;
}