p  {
    width: 250px;
}

p{
    width: 350px;
    /* height: 1000px; */
    margin: auto;

    border: 1px solid black;
    text-align: justify;
    padding: 12px;
    margin-bottom: 20px;
    color: blue;
}

/* Nouvelles regles si la fenetre fait au plus 1024px de large */
@media screen and (max-width: 1024px) {
    p {
        color: red;
        background-color: black;
        font-size: 1.2em;
    }
    
}